<html>
	<head>
		<title>Nginx Monitor - Sites</title>
		<link rel='stylesheet' type='text/css' href='/media/css/base.css'>

  		<%def name="javascript()">
			<script type='text/javascript' src='/media/js/jquery-1.3.2.js'></script>
		</%def>

	</head>	
	<body>
		<div id='doc'>
			<div class='header'>
				<div class='content'>
					<h1><a href='/' title='home'>nginx monitor</a></h1>
				</div>
			</div>
			<div class='content'>
				${self.content()}
			</div>
			<div id='footer'>
				<div class='content'>
					developed by <a href='http://marcelnicolay.com'>marcelnicolay</a>
				</div>
			</div>
		</div>
		
		 ${next.javascript()}
		
	</body>
</html>